.kMargin-LeftRight-5{
    margin-left: 5px;
    margin-right: 5px;
}



.kMargin-Top-50{
    margin-top: 50px;
}

.kBtn-Size-5{
    width: 25px !important;
    height: 25px !important;
    font-size: 12px;
    text-align: center !important;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 4px 0px;
}

.kBtn-WSize-75{
    width: 85px;
    text-align: center !important;
    padding: 5px 0px 5px 0px;
}

.table tr td, .table tr th {
    vertical-align: middle;
}

.kTable-Height-350{
    height: 350px;
    overflow-y: scroll;
}

.kTable-tr-hover:hover{
    background-color: rgba(178, 237, 217, 0.6);
    cursor: pointer;
}

.kScoreTable th, .kScoreTable td{
    max-width: 80px;
    min-width: 20px;
}







