.info-card {
    position: relative
}

.base-card {
    position: absolute;
    z-index: 1;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
}

.contact-card {
    width: 460px;
    height: 320px;

    left: 20px;
    top: 120px;
}

.account-card {
    width: 460px;
    height: 280px;

    left: 20px;
    top: 460px;
}

.about-card {
    width: 700px;
    height: 430px;

    left: 500px;
    top: 120px;
}

.margin-bottom{
    width: 5px;
    height: 5px;

    top: 780px; 
}

.favorite-card {
    width: 700px;
    height: 250px;

    left: 500px;
    top: 570px;
}