
h1 {
  color: #6c83fb;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content:center
}

.pagination a {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #6c83fb;
  color: #6c83fb;
  width: 50px;  
  text-decoration: none;
}

.pagination__item{
  min-width: 30px;
  color: #6c83fb;
}

.pagination__link {
  color: #6c83fb;
  font-weight: bold;
  width: 50px;
}

.pagination__link--active a {
  color: #fff;
  background: #6c83fb;
}

.pagination__link--disabled a:hover{
  background-color: #6c83fb;
  color: white
}

.pagination a:hover{
  background-color: #6c83fb;
  color: white
}